{% extends "base.html" %}
{% block breadcrumbs %}<a href="/login">Sign in</a> » Reset password{% endblock %}
{% block title %}Reset your password{% endblock %}
{% block subtitle %}Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.{% endblock %}
{% block content %}
	<form method="post">
		{% csrf_token %}
		<div class="fieldwrap">
			{{ form.email.errors }}
			{{ form.email.label_tag }}{{ form.email }}
		</div>
		<div class="fieldwrap">
			<input class="submit" type="submit" value="Send reset email" />
		</div>
		<div class="floatfix"></div>
	</form>
{% endblock %}