body{width:100%;height:100%;font:14px/20px Arial,sans-serif;background:#f6f6f6}
form,table,ul,ol{max-width:840px}/*This fix a jQuery bug in webkit where elements that are 100% width overflow the tab panels*/
#wrapper{width:900px;padding:0 30px 30px;margin:0 auto}
	.logout{float:right}
	.ui-tabs-hide{display:none!important}
		.ui-tabs-nav{margin:0;padding:0;height:45px}
			.ui-tabs-nav li{float:left;list-style:none;margin:0;padding:0}
				.ui-tabs-nav li a{display:block;padding:0 15px;line-height:45px}
		.ui-state-active{background:#fff}
			.ui-state-active a{color:#000;text-decoration:none;cursor:text}
	#content,.ui-tabs-panel{background:#fff;padding:30px}
		.title-action{float:right}
		#timeleft{padding:15px 5px}
			#timeleft p{float:left;margin:0;font-variant:small-caps}
			.daysleft, .daysoverdue{letter-spacing:-2px;font-size:80px;line-height:60px;font-family:'Arial Black';display:block}
			.daysoverdue{color:#b00}
		#image-preview{box-shadow:0 2px 10px rgba(0,0,0,0.4);max-width:840px}
		#pdf-preview{width:840px;height:500px}
		#text-preview{box-shadow:inset 0 0 10px rgba(0,0,0,0.1);max-height:500px;display:block;overflow:auto;border:1px solid #aaa;padding:15px;color:#555}
		
		#comments-list{padding:0;margin:0 0 15px}
			#comments-list li{padding:15px;margin:0;list-style:none}
				#comments-list li .name{font-weight:bold;text-decoration:none}
				#comments-list li .actions{float:right}
				#comments-list li:nth-child(odd){background:#f6f6f6}
	table{width:840px;max-width:840px;border-spacing:0}
		th{background:#eee;border-bottom:1px solid #ddd;border-top:1px solid #ddd}
		tr:nth-child(odd) td{border-bottom:1px solid #eee}
		tr:nth-child(even) td{background:#f6f6f6}
		th,td{padding:5px;text-align:left;vertical-align:top;text-overflow:ellipsis}
			.status{max-width:96px;text-align:right}
				.status a,.button{text-decoration:none;display:inline-block;float:left;width:24px;height:24px;opacity:0.1}
				.status span{width:5px;display:inline-block}
					.status a:hover,.current,.button:hover{opacity:1!important}
					.status a:first-child,.button:first-child{border-top-left-radius:5px;border-bottom-left-radius:5px}
					.status a:last-child,.button:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px}
					.status .active{background:url('/static/task-active.png')}
					.status .important{background:url('/static/task-important.png')}
					.status .hold{background:url('/static/task-hold.png')}
					.status .completed{background:url('/static/task-completed.png')}
				.status-1 td,.status-0 td{color:#999}
				.status-1 a,.status-0 a{color:#999}
			.delete,.download,.share,.comments{opacity:0.5}
				.delete{background:url('/static/delete.png')}
				.download{background:url('/static/download.png')}
				.comments{background:url('/static/comment.png');text-align:center;font-size:11px;color:#00f}
				.share{background:url('/static/share.png')}
				
			.button-big, .submit{padding:10px 15px!important;border:none!important;width:auto!important;height:auto;background:#00f;display:inline-block;color:#fff;cursor:pointer;text-decoration:none;border-radius:5px}
				.delete-big{background:#c00}
		#recent-items{width:410px;float:right;margin:0 0 15px}
		#important-tasks{width:410px;float:left;margin:0 0 15px}
			#important-tasks table,#recent-items table{width:100%}
			#recent-items table{table-layout:fixed}
			#important-tasks td{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
			#important-tasks td.title{max-width:250px}
			#important-tasks td.status{width:10px}
	
	form{border:1px solid #ddd;background:#eee;padding:30px 30px 15px}
		textarea,input,select{font:14px/20px Arial,sans-serif}
		form.edit_form{border:0;background:transparent;padding:0}
			.edit_form table input,.edit_form textarea,.edit_form select{border:1px solid rgba(0,0,0,0.1);display:block;background:transparent;margin:0;outline:0;line-height:20px;cursor:pointer}
			.changed{border-color:#00f!important}
			.edit_form table input,.edit_form textarea{width:500px;height:20px}
			input,.edit_form table input:focus,textarea,.edit_form textarea:focus,select{padding:4px;border:1px solid #999;background:#fff}
			.edit_form textarea:focus{height:60px}
		form h3{margin-top:0}
		.fieldwrap{clear:both}
			.fieldwrap label{}
			.fieldwrap input, .fieldwrap select, .fieldwrap textarea{float:right;margin:0 0 15px;width:600px}
			.fieldwrap select{width:610px}
			.fieldwrap textarea{height:60px}
			.fieldwrap #id_message{height:140px}
			.fieldwrap.hidden{display:none}
			#ui-datepicker-div{display:none;background:#fff;padding:15px;box-shadow:2px 5px 15px rgba(0,0,0,0.3)}
				.ui-datepicker-prev,.ui-datepicker-next{cursor:pointer;padding:5px 10px;border-radius:5px;background:#eee;float:left}
					.ui-datepicker-next{float:right}
				.ui-datepicker-title{text-align:center;padding:5px 0;margin:0 0 15px}
				.ui-datepicker-calendar{table-layout:fixed;width:230px}
					.ui-datepicker-calendar td{text-align:center}
		.submit{float:right;cursor:pointer}
		
	.floatfix{clear:both}