<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
	<link rel="stylesheet" href="/static/style.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/project.js"></script>
	{% block head %}{% endblock %}
</head>
<body>
<div id="wrapper">
	{% if not user.is_anonymous %}
	<div id="top-bar">
		{% block account %}
			<span id="user-menu">
				<a href="/profile" class="profile">Profile</a><a href="/logout" class="logout">Logout</a>
			</span>
		{% endblock %}
		<span id="nav-menu">
			<a id="home-icon" href="/"></a>
			<a href="/projects">Projects</a>
		</span>
	</div>
	{% endif %}
	<div id="header">
		<h1>{% block title %}{% endblock %}</h1>
		<p>{% block subtitle %}{% endblock %}</p>
	</div>
	{% block main%}
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	{% endblock %}
</div>
</body>
</html>