{% extends "base.html" %}
{% block breadcrumbs %}Contacts > {{ contact.get_full_name }}{% endblock %}
{% block title %}<img id="contact-thumb" src="{{ contact.picture_thumbnail_url }}" />{{ contact.get_full_name }}{% endblock %}
{% block subtitle %}{{ contact.title }}{% endblock %}
{% block content %}
	<form method="POST" enctype="multipart/form-data" action="">
		{% csrf_token %}
		{% for field in contact_form.visible_fields %}
			<div class="fieldwrap">
				{{ field.errors }}
				{{ field.label_tag }}{{ field }}
			</div>
		{% endfor %}
		
		<div class="formset">
			<label for="">Phone numbers</label>
			{{ phonenumber_formset.management_form }}
			{% for formset in phonenumber_formset.forms %}
				<div class="formsetfieldwrap phonenumber">
					{% for field in formset.visible_fields %}
						<div class="inlinefieldwrap">
							{{ field.errors }}
							{{ field }}
						</div>
					{% endfor %}
					{% if not formset.instance.id = None %}
						<div class="inlinefieldwrap">
							<a class="button delete" href="{% url contacts.views.phonenumber_delete formset.instance.id %}"></a>
						</div>
					{% endif %}
					{% for field in formset.hidden_fields %}
						{{ field }}
					{% endfor %}
				</div>
			{% endfor %}
		</div>
		
		<div class="formset">
			<label for="">Websites</label>
			{{ emailaddress_formset.management_form }}
			{% for formset in emailaddress_formset.forms %}
				<div class="formsetfieldwrap emailaddress">
					{% for field in formset.visible_fields %}
						<div class="inlinefieldwrap">
							{{ field.errors }}
							{{ field }}
						</div>
					{% endfor %}
					{% if not formset.instance.id = None %}
						<div class="inlinefieldwrap">
							<a class="button delete" href="{% url contacts.views.emailaddress_delete formset.instance.id %}"></a>
						</div>
					{% endif %}			
					{% for field in formset.hidden_fields %}
						{{ field }}
					{% endfor %}
				</div>
			{% endfor %}
		</div>
		
		<div class="formset">
			<label for="">Websites</label>
			{{ website_formset.management_form }}
			{% for formset in website_formset.forms %}
				<div class="formsetfieldwrap website">
					{% for field in formset.visible_fields %}
						<div class="inlinefieldwrap">
							{{ field.errors }}
							{{ field }}
						</div>
					{% endfor %}
					{% if not formset.instance.id = None %}
						<div class="inlinefieldwrap">
							<a class="button delete" href="{% url contacts.views.website_delete formset.instance.id %}"></a>
						</div>
					{% endif %}
					{% for field in formset.hidden_fields %}
						{{ field }}
					{% endfor %}
				</div>
			{% endfor %}
		</div>
		
		<div class="fieldwrap">
			<a href="{% url contact_delete contact.id %}" class="button-big delete-big" title="Delete this contact">Delete this contact</a>
			<input name="contact_form" class="submit" type="submit" value="Save changes"/>
		</div>
		<div class="floatfix"></div>
	</form>
{% endblock %}