{% extends "base.html" %}
{% block html_title %}
	Contacts | {{ block.super }}
{% endblock %}
{% block title %}Contacts{% endblock %}
{% block subtitle %}All your contacts{% endblock %}
{% block content %}
	{% include "contact_list.html" %}
	<form method="POST" enctype="multipart/form-data" action="">
		{% include "base_forms/form_fields.html" with form=contact_form %}
		
		{% include "base_forms/inline_formset.html" with label="Phone numbers" delete_view='phonenumber_delete' formset=phonenumber_formset %}
		{% include "base_forms/inline_formset.html" with label="Email addresses" delete_view='emailaddress_delete' formset=emailaddress_formset %}
		{% include "base_forms/inline_formset.html" with label="Websites" delete_view='website_delete' formset=website_formset %}
		
		<div class="fieldwrap">
			<input name="contact_form" class="submit" type="submit" value="Add contact"/>
		</div>
		<div class="floatfix"></div>
	</form>
{% endblock %}