{% extends "base.html" %}
{% block html_title %}
	{% if project %}
		All documents for {{ project.title }} | {{ block.super }}
	{% else %}
		All documents | {{ block.super }}
	{% endif %}
{% endblock %}
{% block title %}
	{% if project %}
		All documents for {{ project.title }}
	{% else %}
		All documents
	{% endif %}
{% endblock %}
{% block subtitle %}A list of all uploaded documents{% if project %} for {{ project.title }}{% endif %}{% endblock %}
{% block content %}
	<h2>Documents</h2>
	{% include "document_list.html" with show_project="show" %}
{% endblock %}