{% extends "base_tabs.html" %}
{% load comments %}
{% block html_title %}
	{% if is_public %}
		{{ document.title }} | {{ block.super }}
	{% else %}
		{{ document.title }} | Documents | {{ block.super }}
	{% endif %}
{% endblock %}
{% block account %}{% if not user.is_anonymous %}{{ block.super }}{% else %}{% endif %}{% endblock %}
{% block title %}{{ document.title }}{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}
	<ul>
		<li><a href="#file">File information</a></li>
		<li><a href="#comments">Comments</a></li>
		{% if not is_public %}<li><a href="#share">Share</a></li>{% endif %}
	</ul>
	<div id="file">
		{% if document.is_image %}
			<a title="Click to see the full size image" href="/{{ document.file.name }}"><img id="image-preview" src="/{{ document.file.name }}" alt="{{ document.title }}"/></a>
		{% elif document.is_pdf %}
			<iframe id="pdf-preview" src="/{{ document.file.name }}" frameborder="0"></iframe>
		{% elif document.is_text %}
			<pre id="text-preview">{{ document.content }}</pre>
		{% endif %}
		{% if not is_public %}
			<form class="edit_form" method="POST">
				{% csrf_token %}
				<table>
					{% for field in edit_form %}
						<tr>
							<td>{{ field.label_tag }}</td>
							<td class="field">{{ field }} {{ field.errors }}</td>
						</tr>
					{% endfor %}
					<tr>
						<td>File name</td>
						<td>{{ document.file.name }}</td>
					</tr>
					<tr>
						<td>File size</td>
						<td>{{ document.file.size|filesizeformat }}</td>
					</tr>
					<tr>
						<td>File type</td>
						<td>{{ document.mimetype }}</td>
					</tr>
					<tr>
						<td>Public URL</td>
						<td><a target="_blank" href="{{ public_url }}">{{ public_url }}</a></td>
					</tr>
				</table>
				<p>
					<a class="button-big download-big" href="/{{ document.file.name }}">Download</a>
					<a class="button-big delete-big" href="{% url projects.views.document_delete document.id %}#documents">Delete</a>
					<input name="edit_form" class="submit" type="submit" value="Save changes"/>
				</p>
			</form>
		{% else %}
			<table>
				<tr>
					<td>Description</td>
					<td>{% load markup %}{{ document.description|markdown:"nl2br"|default:"<i>No description</i>" }}</td>
				</tr>
				<tr>
					<td>File name</td>
					<td>{{ document.file.name }}</td>
				</tr>
				<tr>
					<td>File size</td>
					<td>{{ document.file.size|filesizeformat }}</td>
				</tr>
			</table>
			<p>
				<a class="button-big download-big" href="/{{ document.file.name }}">Download</a>
			</p>
		{% endif %}

	</div>
	<div id="comments">
		<h2>Comments on {{ document.title }}</h2>
		<ul id="comments-list">
			{% get_comment_list for document as comment_list %}
			{% for comment in comment_list %}
				<li>
					{% if not is_public and user.id == comment.user.id or not is_public and comment.user.id == None %}
						<div class="actions">
							<a title="Remove this comment" class="button delete comment-delete" href="{% url comment_delete comment.id %}">&nbsp;</a>
						</div>
					{% endif %}
					<div class="meta">
						{% if not comment.user.id == None %}
							<a class="name" title="{{ comment.user.email }}" href="mailto:{{ comment.user.email }}">{{ comment.user_name }}</a>
						{% else %}
							<span class="name">{{ comment.user_name }}</span>
						{% endif %}
						, {{ comment.submit_date.date }}:
					</div>
					<div class="content">
						{{ comment.comment|linebreaksbr }}
					</div>
				</li>
			{% endfor %}
			
			<form method="POST" action="{% comment_form_target %}">
				{% csrf_token %}
				<h3>Write a comment</h3>
				{% get_comment_form for document as comment_form %}
				{% for hidden_field in comment_form.hidden_fields %}
					{{ hidden_field }}
				{% endfor %}
				<input type="hidden" name="next" value="{% if is_public %}{{ public_url }}#comments{% else %}{% url document_single document.id %}#comments{% endif %}" />
				{% for field in comment_form.visible_fields %}
					{% if user.is_authenticated %}
						{% if field.name == "comment" %}
							<div class="fieldwrap {% if field.name == "honeypot" %}hidden{% endif %}">
								{{ field.errors }}
								{{ field.label_tag }}{{ field }}
							</div>
						{% endif %}
					{% else %}
						{% if field.name != "url" %}
							<div class="fieldwrap {% if field.name == "honeypot" %}hidden{% endif %}">
								{{ field.errors }}
								{{ field.label_tag }}{{ field }}
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				<div class="fieldwrap">
					<input type="submit" class="button-big submit" name="submit" value="Submit comment">
				</div>
				<div class="floatfix"></div>
			</form>
		</ul>
	</div>
	{% if not is_public %}
	<div id="share">
		<form method="POST" action="{% url document_single document.id %}#share">
			{% include "base_forms/form_fields.html" with form=email_form title="Email this document" %}
			<div class="fieldwrap">
				<input name="email_form" class="submit" type="submit" value="Email this document"/>
			</div>
			<div class="floatfix"></div>
		</form>
	</div>
	{% endif %}
{% endblock %}