{% extends "base_tabs.html" %}
{% block breadcrumbs %}Projects{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block subtitle %}An overview of your activity{% endblock %}
{% block content %}
	<ul>
		<li><a href="#projects">Projects</a></li>
		<li><a href="#tasks">Priority tasks</a></li>
		<li><a href="#memos">Latest memos</a></li>
		<li><a href="#documents">Latest documents</a></li>
	</ul>
	<div id="projects">
		<h2 class="floatfix">Projects</h2>
		{% include "project_list.html" %}
		<form method="POST" enctype="multipart/form-data" action="">
			<h3>Start a new project</h3>
			{% csrf_token %}
			{% for field in project_form %}
				<div class="fieldwrap">
					{{ field.errors }}
					{{ field.label_tag }}{{ field }}
				</div>
			{% endfor %}
			<div class="fieldwrap">
				<input name="project_form" class="submit" type="submit" />
			</div>
			<div class="floatfix"></div>
		</form>
	</div>
	<div id="tasks">
		<a class="title-action" href="{% url projects.views.task_all %}">See all tasks</a>
		<h2>Most important tasks</h2>
		{% include "task_list.html" %}
	</div>
	<div id="memos">
		<h2>Latest memos</h2>
		{% include "memo_list.html" %}
	</div>
	<div id="documents">
		<h2>Latest documents</h2>
		{% include "document_list.html" %}
	</div>
{% endblock %}