<table class="memo-list">
	{% load markup %}
	<thead>
		<tr>
			<th>Title</th>
			<th>Message</th>
			{% if show_project %}
				<th>Project</th>
			{% endif %}	
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for memo in memos %}
			<tr>
				<td class="title">
					{{ memo.title }}<br/>
					<span class="memo-date">{{ memo.date_modified.date|date|default:"None" }}</span>
				</td>
				<td class="memo-content">{{ memo.content|markdown:"nl2br" }}</td>
				{% if show_project %}
					<td>
						<a href="{% url project_single memo.project_id %}">{{ memo.project.title }}</a>
					</td>
				{% endif %}
				<td class="actions">
					<a class="button edit" href="{% url projects.views.memo_edit memo.id %}">&nbsp;</a>
					<a class="button delete" href="{% url projects.views.memo_delete memo.id %}#memos">&nbsp;</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>