{% extends "base_tabs.html" %}
{% block breadcrumbs %}<a href="{% url projects.views.index %}">Projects</a> » {{ project.title }}{% endblock %}
{% block title %}{{ project.title }}{% endblock %}
{% block subtitle %}{{ project.description }}{% endblock %}
{% block content %}
	<ul>
		<li><a href="#overview">Overview</a></li>
		<li><a href="#tasks">Tasks</a></li>
		<li><a href="#memos">Memos</a></li>
		<li><a href="#documents">Documents</a></li>
	</ul>
	<div id="overview">
		<form class="edit_form" method="POST" action="#overview">
			{% csrf_token %}
			<table>
				<thead>
					<tr>
						<th id="timeleft" colspan="2">
							<div class="graph"></div>
							{% if project.time_left_days >= 0 %}
								<p><span class="daysleft">{{ project.time_left_days|default:"&#8734;" }}</span> days left</p>
							{% else %}
								<p><span class="daysoverdue">{{ project.time_overdue_days|default:"&#8734;" }}</span> days overdue</p>
							{% endif %}
						</th>
					</tr>
				</thead>
				<tbody>
					{% for field in edit_form %}
						<tr>
							<td>{{ field.label_tag }}</td>
							<td class="field">{{ field }} {{ field.errors }}</td>
						</tr>
					{% endfor %}					
					<tr>
						<td>Creation date</td>
						<td>{{ project.creation_date }}</td>
					</tr>
					<tr>
						<td>Incomplete tasks</td>
						<td>{{ tasks.count }}</td>
					</tr>
				</tbody>
			</table>
			<div class="fieldwrap">
				<input name="edit_form" class="submit" type="submit" value="Save changes"/>
			</div>
			<div class="floatfix"></div>
		</form>
	</div>
	
	
	<div id="tasks">
		<h2>Tasks</h2>
		{% include "task_list.html" %}
		<form method="POST" action="#tasks">
			<h3>Create a new task</h3>
			{% csrf_token %}
			{% for field in task_form %}
				<div class="fieldwrap">
					{{ field.errors }}
					{{ field.label_tag }}{{ field }}
				</div>
			{% endfor %}
			<div class="fieldwrap">
				<input name="task_form" class="submit" type="submit" value="Save task"/>
			</div>
			<div class="floatfix"></div>
		</form>
	</div>
	
	
	<div id="memos">
		<h2>Memos</h2>
		{% include "memo_list.html" %}
		<form method="POST" action="#memos">
			<h3>Write a memo</h3>
			{% csrf_token %}
			{% for field in memo_form %}
				<div class="fieldwrap">
					{{ field.errors }}
					{{ field }}
					{{ field.label_tag }}<br/>
					{% if field.help_text %}<span class="help-text">{{ field.help_text }}</span>{% endif %}
				</div>
			{% endfor %}
			<div class="fieldwrap">
				<input name="memo_form" class="submit" type="submit" value="Save memo"/>
			</div>
			<div class="floatfix"></div>
		</form>	
	</div>
	
	
	<div id="documents">
		<h2>Documents</h2>
		{% include "document_list.html" %}
		<form method="POST" enctype="multipart/form-data" action="#documents">
			<h3>Upload a new document</h3>
			{% csrf_token %}
			{% for field in document_form %}
				<div class="fieldwrap">
					{{ field.errors }}
					{{ field.label_tag }}{{ field }}
				</div>
			{% endfor %}
			<div class="fieldwrap">
				<input name="document_form" class="submit" type="submit" value="Upload document"/>
			</div>
			<div class="floatfix"></div>
		</form>	
	</div>
{% endblock %}