{% extends "base.html" %}
{% block breadcrumbs %}
	Account » User profile
{% endblock %}
{% block title %}{{ user.first_name }}'s profile{% endblock %}
{% block subtitle %}View and edit your user profile{% endblock %}
{% block content %}
	<form method="POST" action="">
		<h3>Edit your profile</h3>
		{% csrf_token %}
		{% for field in profile_form %}
			<div class="fieldwrap">
				{{ field.errors }}
				{{ field.label_tag }}{{ field }}
			</div>
		{% endfor %}
		<div class="fieldwrap">
			<input name="project_form" class="submit" type="submit" />
		</div>
		<div class="floatfix"></div>
	</form>
{% endblock %}