{% extends "base.html" %}
{% block breadcrumbs %}
	<a href="{% url projects.views.index %}">Projects</a> » <a href="/projects/{{ memo.project_id }}">{{ memo.project.title }}</a> » <a href="/projects/{{ memo.project_id }}#memos">Memos</a> » {{ memo.title }}		
{% endblock %}
{% block title %}Edit {{ memo.title }}{% endblock %}
{% block subtitle %}Bring changes to an existing memo{% endblock %}
{% block content %}
	<form class="memo_form" method="POST" action="#overview">
		{% csrf_token %}
		{% for field in memo_form %}
			<div class="fieldwrap">
				{{ field.errors }}
				{{ field }}
				{{ field.label_tag }}<br/>
				{% if field.help_text %}<span class="help-text">{{ field.help_text }}</span>{% endif %}
			</div>
		{% endfor %}
		<div class="fieldwrap">
			<input name="memo_form" class="submit" type="submit" value="Save changes and return"/>
		</div>
		<div class="floatfix"></div>
	</form>
{% endblock %}