{% extends "base.html" %}
{% block html_title %}
	Sign in | {{ block.super }}	
{% endblock %}
{% block title %}Sign in{% endblock %}
{% block content %}
	<form id="login_small_left" method="post" action="{% url django.contrib.auth.views.login %}">
		<h3>Sign in</h3>
		{% csrf_token %}
		{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% endif %}
		<div class="fieldwrap">
			{{ form.username.label_tag }}{{ form.username }}
		</div>
		<div class="fieldwrap">
			{{ form.password.label_tag }}{{ form.password }}
		</div>
		<div class="fieldwrap">
			<input class="submit" type="submit" value="Sign in" />
			<input type="hidden" name="next" value="{{ next }}" />
		</div>
		<div class="floatfix"></div>
	</form>
	<h3>Don't have an account?</h3>
	<p><a href="{% url accounts.views.signup %}">Sign up</a> and start getting things done with Cockpit.</p>
	<h3>Forgot your password?</h3>
	<p><a href="{% url django.contrib.auth.views.password_reset %}">Reset your password</a> by email.</p>
	
	<div class="floatfix"></div>
{% endblock %}