{% extends "base.html" %}
{% block breadcrumbs %}<a href="/login">Sign in</a> » Reset password » Set new password{% endblock %}
{% block title %}Reset your password{% endblock %}
{% block subtitle %}Enter your new password below.{% endblock %}
{% block content %}
{% if validlink %}
	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
	<form method="post">
		{% csrf_token %}
		{% if form.errors %}
			<p>Your passwords didn't match. Please try again.</p>
		{% endif %}
		<div class="fieldwrap">
			{{ form.new_password1.label_tag }}{{ form.new_password1 }}
		</div>
		<div class="fieldwrap">
			{{ form.new_password2.label_tag }}{{ form.new_password2 }}
		</div>
		<div class="fieldwrap">
			<input class="submit" type="submit" value="Set new password" />
		</div>
		<div class="floatfix"></div>
	</form>
{% else %}
	<p>This password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock %}